{% load static %}
<!doctype html>
<html class="no-js" lang="">

<head>

    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Group S</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-5.0.0-beta1.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.2.0.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/glightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- ========================= preloader start ========================= -->
    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- preloader end -->

    <!-- ========================= header start ========================= -->
    <header class="header navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="#">
                            <img src="{% static 'assets/img/logo.png' %}" width="45px" height="50px" alt="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="page-scroll " href="{% url 'home'%}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="{% url 'x'%}">course</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll " href="{% url 'facility' %}">facility</a>
                                </li>

                                <li class="nav-item">
                                    <a class="page-scroll" href="{% url 'instructor' %}">instructor</a>
                                </li>
                            </ul>

                        </div> <!-- navbar collapse -->
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->

    </header>
    <!-- ========================= header end ========================= -->

    <!-- ========================= page-banner-section start ========================= -->
    <section class="page-banner-section pt-75 pb-75 img-bg"
        style="background-image: url('{% static 'assets/img/bg/common-bg.svg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="banner-content">
                        <h2 class="text-white">Course Feedback Form</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item" aria-current="page"><a
                                            href="javascript:void(0)">Home</a></li>

                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================= page-banner-section end ========================= -->

    <!-- ========================= contact-section start ========================= -->
    <section class="contact-section pt-130">
        <div class="container">
            <div class="row">

                <div class="col-xl-12">
                    <div class="contact-form-wrapper">
                        <div class="row">
                            <div class="col-xl-10 col-lg-8 mx-auto">
                                <div class="section-title1 text-center mb-50">
                                    <span class="wow fadeInDown" data-wow-delay=".2s" style="color: #333;">Hello! As a
                                        student, it's your right to evaluate your instructor in different aspects, so
                                        kindly take some little time to fill the form below, which is intended to
                                        provide us with feedback about your instructor of your choice according to the
                                        given fields.<br>
                                        In doing this, it will help the institution to improve teaching and learning.
                                        Your response will be treated with utmost confidentiality. Respond without bias.
                                        Thank you.</span>
                                </div>
                            </div>
                        </div>

                        <form method="post" class="needs-validation" novalidate>
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="{{ courseForm.courseName.id_for_label }}">Course Name<span
                                        style="color: red;">*</span>:</label>
                                {{ courseForm.courseName }}
                                <div class="invalid-feedback">Please provide the Course's name.</div>
                            </div>

                            <div class="form-group">
                                <label for="{{ courseForm.courseCode.id_for_label }}">Course Code<span
                                        style="color: red;">*</span>:</label>
                                {{ courseForm.courseCode }}
                                <div class="invalid-feedback">Please provide the Course code.</div>
                            </div>

                            <div class="form-group">
                                <label for="{{ courseForm.courseDescription.id_for_label }}">Course Description<span
                                        style="color: red;">*</span>:</label>
                                {{ courseForm.courseDescription }}
                                <div class="invalid-feedback">Please provide the course description.</div>
                            </div>

                            <span class="wow fadeInDown" style="color: #333;"><b>HOW WOULD YOU RATE YOUR COURSE IN
                                    THE FOLLOWING FIELDS?</b></span>


                            <div class="form-group">
                                <label for="{{ courseForm.effectiveness.id_for_label }}" class="d-block"><b>Effect of
                                        the course</b><span style="color: red;">*</span>:</label>
                                <div class="form-check form-check-inline justify-content-between gap">
                                    {{ courseForm.effectiveness }}
                                </div>
                                <div class="invalid-feedback">Please rate the course effectiveness.</div>
                            </div>


                            <div class="form-group">
                                <label for="{{ courseForm.interest.id_for_label }}" class="d-block"><b>Interest</b><span
                                        style="color: red;">*</span>:</label>
                                <div class="form-check form-check-inline justify-content-between gap">
                                    {{ courseForm.interest }}
                                </div>
                                <div class="invalid-feedback">Please rate the course interest.</div>
                            </div>

                            <div class="form-group">
                                <label for="{{ courseForm.improvement.id_for_label }}"><b>Recommended
                                        Improvements:</b></label>
                                {{ courseForm.improvement }}
                                <div class="invalid-feedback">Please provide recommendations.</div>
                            </div>
                            <div class="row">
                                <br>
                                <br>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="button text-center">
                                        <button type="submit" class="theme-btn">Submit Feedback</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================= contact-section end ========================= -->


    <section id="contact" class="contact-section cta-bg img-bg pt-110 pb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-7">
                    <div class="section-title mb-60">
                        <h2 class="text-white wow fadeInUp" data-wow-delay=".4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Thank you for
                            participting in this exercise of rating your courses.</h2>
                        <p class="text-white wow fadeInUp" data-wow-delay=".6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Your Feedback
                            helps us all.</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-5">
                    <div class="contact-btn text-start text-lg-end">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ========================= subscribe-section start ========================= -->
    <section class="subscribe-section pt-70 pb-70 img-bg"
        style="background-image: url('{% static 'assets/img/bg/common-bg.svg' %}')">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="section-title mb-30">
                        <span class="text-white wow fadeInDown" data-wow-delay=".2s">Subscribe</span>
                        <h2 class="text-white mb-40 wow fadeInUp" data-wow-delay=".4s">Subscribe Our Newsletter</h2>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <form action="#" class="subscribe-form wow fadeInRight" data-wow-delay=".4s">
                        <input type="text" name="subs-email" id="subs-email" placeholder="Your Email">
                        <button type="submit"><i class="lni lni-telegram-original"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================= subscribe-section end ========================= -->

    <!-- ========================= footer start ========================= -->
    <footer class="footer">
        <div class="container text-center">

            <div class="copyright-area">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="footer-social-links">
                            <ul class="d-flex">
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- ========================= footer end ========================= -->


    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-arrow-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="{% static 'assets/js/bootstrap.bundle-5.0.0-beta1.min.js' %}"></script>
    <script src="{% static 'assets/js/contact-form.js' %}"></script>
    <script src="{% static 'assets/js/count-up.min.js' %}"></script>
    <script src="{% static 'assets/js/tiny-slider.js' %}"></script>
    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>